<h1><%= @user.name %>'s Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<div class="row">
	<div class="col-sm-6 events">
		<h2>Upcoming Created Events</h2>
		<% @user.upcoming_created_events.each do |event| %>
			<%= render 'shared/event_card', object: event %>
		<% end %>

		<h2>Past Created Events</h2>
		<% @user.past_created_events.each do |event| %>
			<%= render 'shared/event_card', object: event %>
		<% end %>
	</div>

	<div class="col-sm-6 events">
		<h2>Upcoming Events Attending</h2>
		<% @user.upcoming_events_attending.each do |event| %>
			<%= render 'shared/event_card', object: event %>
		<% end %>

		<h2>Previously Attended Events</h2>
		<% @user.previously_attended_events.each do |event| %>
			<%= render 'shared/event_card', object: event %>
		<% end %>
	</div>
</div>
