<h1><%= @event.title %></h1>
<p>Created by: <%= @event.creator.name %></p>
<p><%= @event.description %></p>
<p>Date: <%= @event.date.strftime('%A, %B %d, %Y') %></p>
<p>Location: <%= @event.location %></p>
<p>Attendees:</p>
<ul>
	<% @attendees.each do |attendee| %>
		<li><%= link_to attendee.name, user_path(attendee.id) %></li>
	<% end %>
</ul>
