<h1><%= @event.title %></h1>
<p>Created by: <%= @event.creator.name %></p>
<p><%= @event.description %></p>
<p>Date: <%= @event.date.strftime('%A, %B %d, %Y') %></p>
<p>Location: <%= @event.location %></p>
